body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
}

#moveButton {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
